body {
    color: #000;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    margin: 0;
}

#banner {
    margin: -1% 0 0;
    padding-top: 10px;
    text-align: center;
    height: 100px;
    background-color: #3c275a;
    color: #fff;
    border-bottom: 1px solid #D6A800;
}

#nav-container {
    margin: -16px 0 0 0;
    padding: 0;
    height: 30px;
    list-style-type: none;
    border-bottom: 1px solid #bbbbbb;
    background-color: #4F3674;
}

#nav-list li {
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
    display: block;
}

#nav-list li a {
    background-color: #4F3674;
    color: #fff;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    display: block;
}

#nav-list li a:hover {
    color: #4F3674;
    background-color: #D6a800;
    border-bottom: 3px solid #4F3674;
    cursor: pointer;
}

.main-content {
    margin: 0;
    padding: 10px;
    background-color: #fff;
}

#footer {
    font-size: .8em;
    text-align: center;
    height: 50px;
    border-top: 1px solid #D6A800;
    padding: 15px 0 15px 0;
    font-style: italic;
    background-color: #3c275a;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer a:link {
    color: #fff;
    text-decoration: none;
}

#footer a:visited {
    color: #fff;
}

#footer a:hover {
    color: #4F3674;
    background-color: #D6a800;
}

/**
    Non-themed global styles.
 */
.assign-container {
    padding: 10px;
}

.assign-content {
    width: 600px;
    margin: 3% auto 0;
}

.assign-results-text {
    text-align: center;
    font-size: 28px;
}

.app-header {
    text-align: center;
    font-weight: 400;
    border: none;
    color: inherit;
    background-color: inherit;
}

.return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.return-home:visited {
    color: #3c275a;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #4F3674;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: #000;
}

.btn-primary {
    background-color: #4F3674;
    color: #fff;
}

.btn-primary:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.drop-down-menu {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form {
    display: inline-grid;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
}

.full-width {
    width: 100%;
}
