/*
    Author: Professor Krasso
    Date: 11/3/2023
    File Name: style.css
    Description: Style sheet for the product app
*/

/* CSS style resets */
body, header, aside, main, footer, h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* CSS styles */
body {
  background-color: #003366;
  color: #FFFFCC;
}

h1 {
  padding: 1%;
}

/* CSS styles for header elements */
h1, h2, h3 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

header {
  background-color: #FFFFCC;
  height: 100px;
  color: #003366;
  text-align: center;
  border-bottom: 1px solid #000000;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* CSS styles for navigation */
aside {
  float: left;
  width: 150px;
  color: #FFFFCC;
  position: absolute;
  font-size: 1.25em;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

aside a {
  margin: 15px;
  display: block;
  color: #FFFFCC;
}

aside a:hover {
  color: #003366;
  background-color: #FFFFCC;
}

/* CSS styles for main content */
main {
  margin-left: 150px;
  padding: 1%;
  margin-right: 30px;
  font-family: 'Lora', serif;
  font-size: 1.25em;
}

/* CSS styles for footer */
footer {
  font-size: .85em;
  text-align: center;
  border-top: 1px solid #000000;
  background-color: #FFFFCC;
  color: #003366;
  font-style: italic;
  font-family: 'Lora', serif;
  padding: 1%;
}

footer a {
  color: #003366;
}

footer a:hover {
  color: #FFFFCC;
  background-color: #003366;
}

/* CSS styles for page container */
.container {
  width: 60%;
  margin: 0 auto;
}

.btn {
  background-color: #FFFFCC;
  color: #003366;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 1.25em;
  width: 30%;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

/* CSS styles for image gallery */
img {
  width: 100%;
  display: block;
}

/* CSS styles for grid */
.grid {
  display: grid;
  grid-template-columns: auto auto auto; /* 3 columns */
  grid-gap: 30px;
}

.grid h3 {
  grid-column: 1 / span 3;
}
