/**
    Title: site.css
    Author: Professor Krasso
    Date: 2/22/21
    Description: Global stylesheet
 */

/**
    Styles added per the instructions in Assign_1
 */
#icon-mode:hover {
    cursor: pointer;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#icon-text {
    padding-left: 10px;
}

.pull-right {
    float: right;
}

/**
    Styles added per the instructions in the Web 330 HTML, CSS, and JavaScript Requirements document;
    Exhibit D.
 */
.assign-container {
    padding: 10px;
}

.assign-content {
    width: 600px;
    margin: 3% auto 0;
}

.assign-results-text {
    text-align: center;
    font-size: 28px;
}

/**
    Styles added per the requirements in the Web 330 HTML, CSS, and JavaScript Requirements document.
 */
.app-header {
    text-align: center;
    font-weight: 400;
    border: none;
    color: inherit;
    background-color: inherit;
}

.return-home {
    color: #4F3674;
    text-decoration: none;
}

.return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.return-home:visited {
    color: #3c275a;
}

.form {
    display: inline-grid;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
}

.full-width {
    width: 100%;
}
